<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to get started?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus
        saepe adipisci, veritatis vel totam molestiae veniam, doloremque
        molestias dolor ullam obcaecati aspernatur culpa nobis accusamus?
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
