<input type="text" class="input" placeholder="Enter domain name here..." />

/*input with a button on the right*/

<div class="input-group">
  <input type="text" class="input" placeholder="Enter domain name here..." />
  <button class="btn btn--accent">Search</button>
</div>

/*input with a button on the left*/

<div class="input-group">
  <button class="btn btn--accent">Search</button>
  <input type="text" class="input" placeholder="Enter domain name here..." />
</div>

/*input with an icon on the left*/

<div class="input-group">
  <span class="icon-container">
    <svg class="icon">
      <use xlink:href="images/sprite.svg#wordpress"></use>
    </svg>
  </span>
  <input type="text" class="input" placeholder="Enter domain name here..." />
</div>
